<main class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
  <div
    class="bg-gray-50 -mt-10 rounded-lg shadow-md drop-shadow-md sm:mx-auto sm:w-full p-10 sm:max-w-md"
  >
    <h2
      class="sm:mx-auto sm:w-full sm:max-w-sm mb-10 text-center text-2xl font-bold leading-9 text-gray-900"
    >
      Sign Up
    </h2>
    <form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit($event)">
      <fieldset class="space-y-6">
        <legend class="sr-only">User Details</legend>

        <div class="relative">
          <app-input
            formControlName="firstName"
            labelText="First name"
            inputId="firstName"
            inputAutocomplete="given-name"
            inputPlaceholder="John"
            [formControl]="signUpForm.controls.firstName"
            (inputChange)="onInputChange(signUpForm.controls.firstName)"
          ></app-input>
          <div
            *ngIf="
              signUpForm.controls.firstName?.invalid &&
              signUpForm.controls.firstName?.dirty &&
              signUpForm.controls.firstName?.touched
            "
            id="firstNameError"
            role="alert"
            class="absolute flex text-red-400 fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            <img
              class="mr-1"
              src="assets/icons/warning.svg"
              alt="warning icon indicating an error"
            />
            <ng-container
              *ngIf="signUpForm.controls.firstName?.errors?.['required']"
            >
              First name is required.
            </ng-container>
          </div>
        </div>

        <div class="relative">
          <app-input
            formControlName="lastName"
            labelText="Last name"
            inputId="lastName"
            inputAutocomplete="family-name"
            inputPlaceholder="Doe"
            [formControl]="signUpForm.controls.lastName"
            (inputChange)="onInputChange(signUpForm.controls.lastName)"
          ></app-input>
          <div
            *ngIf="
              this.signUpForm?.controls?.lastName?.invalid &&
              this.signUpForm?.controls?.lastName?.dirty &&
              this.signUpForm?.controls?.lastName?.touched
            "
            id="lastNameError"
            role="alert"
            class="absolute flex text-red-400 fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            <img
              class="mr-1"
              src="assets/icons/warning.svg"
              alt="warning icon indicating an error"
            />
            <ng-container
              *ngIf="this.signUpForm?.controls?.lastName?.errors?.['required']"
              >Last name is required.</ng-container
            >
          </div>
        </div>

        <div class="relative">
          <app-input
            formControlName="email"
            labelText="Email"
            inputId="email"
            inputType="email"
            inputAutocomplete="email"
            inputPlaceholder="example@email.com"
            [checkValueCondition]="true"
            [formControl]="signUpForm.controls.email"
            (inputChange)="onInputChange(signUpForm.controls.email)"
          ></app-input>
          <div
            *ngIf="
              this.signUpForm?.controls?.email?.invalid &&
              this.signUpForm?.controls?.email?.dirty &&
              this.signUpForm?.controls?.email?.touched &&
              this.signUpForm?.controls?.email?.value
            "
            id="emailError"
            role="alert"
            class="absolute flex text-red-400 fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            <img
              class="mr-1"
              src="assets/icons/warning.svg"
              alt="warning icon indicating an error"
            />
            <ng-container
              *ngIf="this.signUpForm?.controls?.email?.errors?.['emailInvalid']"
            >
              Please enter a valid email.
            </ng-container>
          </div>
        </div>

        <div>
          <app-input
            formControlName="password"
            labelText="Password"
            inputId="password"
            inputType="password"
            inputAutocomplete="current-password"
            inputPlaceholder="**********"
            [checkValueCondition]="true"
            [formControl]="signUpForm.controls.password"
            (inputChange)="onInputChange(signUpForm.controls.password)"
          ></app-input>
          <div
            *ngIf="
              this.signUpForm?.controls?.password?.invalid &&
              this.signUpForm?.controls?.password?.dirty &&
              !this.signUpForm?.controls?.password?.touched
            "
            id="passwordTip"
            class="pr-10 absolute text-gray-600 fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            Your password must be at least 8 characters long, have uppercase and
            lowercase letters and not contain your first or last name.
          </div>
          <div
            *ngIf="
              this.signUpForm?.controls?.password?.invalid &&
              this.signUpForm?.controls?.password?.dirty &&
              this.signUpForm?.controls?.password?.touched &&
              this.signUpForm?.controls?.password?.value
            "
            id="passwordError"
            role="alert"
            class="pr-10 absolute flex text-red-400 fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            <img
              class="mr-1"
              src="assets/icons/warning.svg"
              alt="warning icon indicating an error"
            />
            {{ passwordErrorMessage }}
          </div>
          <div
            *ngIf="this.signUpForm?.controls?.password?.valid"
            id="passwordSuccess"
            class="absolute flex fade-in-error transition-opacity duration-500 ease-in-out text-xs mt-1 delay-100"
          >
            <img
              class="mr-1"
              src="assets/icons/checkmark.svg"
              alt="green checkmark indicating success"
            />
            Good job! This is a great password.
          </div>
        </div>
      </fieldset>

      <div>
        <button
          [disabled]="!signUpForm.valid"
          type="submit"
          class="mt-16 disabled:bg-indigo-400/70 disabled:text-gray-200 flex w-full justify-center rounded-md bg-indigo-600 px-5 py-2.5 text-sm font-semibold leading-6 text-gray-50 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          aria-labelledby="Create account"
        >
          Create account
        </button>
      </div>
    </form>
  </div>
</main>
